* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #333;
  --color-gray: #777;
  --color-gray-light: #aaa;
}

a {
  color: var(--color-primary);
  text-transform: none;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-family: sans-serif;
  color: #333;
}

.bg-title {
  position: absolute;
  top: 0;
  inset: 1rem;
  text-align: center;
  opacity: 0.05;
  font-size: 10rem;
  font-weight: 700;
  user-select: none;
  transform: rotate(-5deg);
  z-index: -1;
}

#todo-wrapper {
  background-color: white;
  margin: 1rem;
  box-shadow: 0 0.2rem 0.5rem #0003;
  width: 100%;
  max-width: 500px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 0.5rem;
  border-bottom: 1px solid #eee;
}

.todo-header a {
  color: var(--color-gray);
}

.todo-header a:hover {
  color: var(--color-primary);
}

#todo-form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}

#todo-form input {
  border: none;
  flex-grow: 1;
  padding: 0.5rem;
  font-style: italic;
}

#todo-form button {
  border: none;
  background: none;
  flex-grow: 0;
  color: var(--color-gray);
}

#todo-form button:hover {
  color: var(--color-primary);
}

#todo-list li.todo {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid #eee;
}

#todo-list li.todo.active {
  background-color: rgb(220, 255, 243);
}

#todo-list li.todo .completionIcon {
  overflow: hidden;
  display: flex;
  flex-grow: 0;
  border: none;
  background: none;
}

#todo-list li.todo .completionIcon > svg {
  flex-shrink: 0;
}

#todo-list li.todo .completionIcon > svg:first-child {
  padding-left: 0;
  transition-duration: 300ms;
  color: var(--color-gray);
}

#todo-list li.todo.completed .completionIcon > svg:first-child {
  margin-left: -1.25rem;
}

#todo-list li.todo.completed .completionIcon > svg:last-child {
  color: rgb(22, 192, 107);
}

#todo-list li.todo .description {
  flex-grow: 1;
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--color-primary);
  cursor: default;
}

#todo-list li.todo.completed .description {
  text-decoration: line-through;
  color: var(--color-gray-light);
}

#todo-list li.todo.active .description {
  cursor: text;
  outline-offset: 0.2rem;
  text-decoration: none;
}

#todo-list li.todo .actionIcon {
  overflow: hidden;
  display: flex;
  flex-grow: 0;
}

#todo-list li.todo .actionIcon > button {
  flex-shrink: 0;
}

#todo-list li.todo .actionIcon > button:first-child {
  padding-left: 0;
  transition-duration: 300ms;
  color: var(--color-gray);
  cursor: move;
}

#todo-list li.todo.active .actionIcon > button:first-child {
  margin-left: -1.25rem;
}

#clear-all {
  width: 100%;
  background-color: #eee;
  border: 0;
  padding: 1rem;
}
